<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
          http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
">
<aop:config>
        <aop:aspect id="TestAspect" ref="aspectBean">
            <!--配置com.demo.service包下所有类或接口的所有方法-->
            <aop:pointcut id="businessService"
                expression="execution(* com.demo.service.*.*(..))" />
            <aop:before pointcut-ref="businessService" method="doBefore"/>
            <aop:after pointcut-ref="businessService" method="doAfter"/>
            <aop:around pointcut-ref="businessService" method="doAround"/>
            <aop:after-throwing pointcut-ref="businessService" method="doThrowing" throwing="ex"/>
        </aop:aspect>
    </aop:config>
    
    <bean id="aspectBean" class="com.demo.aop.TestAspect" />
    <bean id="aService" class="com.demo.service.AServiceImpl"></bean>
    <bean id="bService" class="com.demo.service.BServiceImpl"></bean>
</beans>
